@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "../../../styles.scss";

app-start-novel {
    .container-div {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        @include media-breakpoint-down(md) {
            /* Rotate the content container */
            transform: rotate(-90deg);
            transform-origin: left top;
            /* Set content width to viewport height */
            width: 100vh;
            /* Set content height to viewport width */
            height: 100vw;
            overflow-x: hidden;
            position: absolute;
            top: 100%;
            left: 0;
        }
    }
    .frame-control {
        position: relative;

        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-up(xl) {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        @include media-breakpoint-down(lg) {
            margin-right: auto;
            margin-left: 0;
            margin-top: auto;
            margin-bottom: auto;
            height: 80vh;
        }

        @include media-breakpoint-down(md) {
            margin-right: 10%;
            margin-left: 5%;
            margin-top: auto;
            margin-bottom: auto;
            height: 100%;
            width: 90%;
        }
        @include media-breakpoint-down(sm) {
            margin-right: 15%;
            margin-left: 2%;
            margin-top: auto;
            margin-bottom: auto;
            height: 100%;
            width: 90%;
        }
    }

    @supports (-webkit-touch-callout: none) {
        .frame-control {
            position: relative;
    
            width: 100%;
            margin-left: auto;
            margin-right: auto;
    
            @include media-breakpoint-up(xl) {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
            @include media-breakpoint-down(lg) {
                margin-right: auto;
                margin-left: 0;
                margin-top: auto;
                margin-bottom: auto;
                height: 80vh;
            }
    
            @include media-breakpoint-down(md) {
                margin-right: 40%;
                margin-left: 5%;
                margin-top: auto;
                margin-bottom: auto;
                height: 100%;
                width: 90%;
            }
         
        }
    }

    .opacity-frame {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #00000060;
    }
    .img-frame {
        width: 100%;
        height: auto;
        object-fit: cover;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
        @include media-breakpoint-down(lg) {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .element-control {
        z-index: 2;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    .div-element-control {
        margin-top: auto;
        margin-bottom: auto;
    }

    .text-welcome-1 {
        position: absolute;
        width: 100%;
        object-fit: contain;
        height: 90px;
        bottom: 60%;
        animation: welcome_1 3s;
    }

    .text-welcome-1-anim {
        animation: welcome_1 3s;
    }

    .text-welcome-1-anim-cont {
        animation: welcome_1_fade_out 1s forwards;
    }
    .text-welcome-2 {
        position: absolute;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        object-fit: contain;
        height: 200px;
        bottom: 40%;
    }
    .text-welcome-2-anim {
        animation: welcome_2 4s forwards;
    }

    .text-welcome-2-anim-cont {
        animation: welcome_2_cont 4s forwards;
    }
    .button-lng-control {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        .button-img {
            cursor: pointer;
            margin-left: 28px;
            margin-right: 28px;
            width: auto;
            height: 80px;
            object-fit: contain;

            @include media-breakpoint-down(md) {
                height: 60px;
            }
        }
    }
    .language-control {
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        animation: language_anim 4s forwards;
        .lang-img {
            width: auto;
            height: 20px;
            margin-bottom: 40px;
            object-fit: contain;
        }
        .button-lng-control {
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }

        .button-img {
            margin-left: 8px;
            margin-right: 8px;
            width: auto;
            height: 80px;
            object-fit: contain;
        }
    }

    .language-control-out {
        animation: language_anim_out 2s forwards;
    }

    .start-control {
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        animation: language_anim 4s forwards;

        .start-img {
            width: auto;
            height: 60px;
            object-fit: contain;
        }
    }

    @keyframes welcome_1 {
        0% {
            opacity: 0;
            transform: translateY(100px);
            -webkit-transform: translateY(100px);
            -o-transform: translateY(100px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            -o-transform: translateY(0px);
        }
    }

    @keyframes welcome_1_fade_out {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
    @keyframes welcome_2 {
        0% {
            opacity: 0;
            transform: translateY(100px);
            -webkit-transform: translateY(100px);
            -o-transform: translateY(100px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            -o-transform: translateY(0px);
        }
    }

    @keyframes welcome_2_cont {
        0% {
            bottom: 37%;
        }

        100% {
            bottom: 60%;
        }
    }

    @keyframes language_anim {
        0% {
            opacity: 0;
            bottom: 10%;
        }

        100% {
            opacity: 1;
            bottom: 35%;
        }
    }

    @keyframes language_anim_out {
        0% {
            opacity: 1;
            bottom: 35%;
        }

        100% {
            opacity: 0;
            bottom: 35%;
        }
    }
}
